In [8]:
import pandas as pd 
import numpy as np
%matplotlib inline
#https://stackoverflow.com/questions/22798934/pandas-long-to-wide-reshape

In [9]:
user_topic_grouped=pd.read_csv('/tmartin/data/tmp/usage-agg-grouped.csv')

In [10]:
basic=user_topic_grouped.head(20)

In [11]:
basic.head()

        salesforce_id  month       usage  visits
0  001o000000tOEUtAAO      4  413.390443      24
1  0011N00001BKtvHQAT     12  149.450254       8
2  003o0000019wJNjAAM     12  255.727520       4
3  0011N000019tmOsQAI     10   96.865496       1
4  0011N000018sodqQAA      8   11.786058       1

In [15]:
usage=basic.drop('visits', axis=1)
usage.shape

(20, 3)

In [16]:
visits=basic.drop('usage', axis=1)

In [ ]:
pivot=pd.pivot_table(user_topic_grouped, values=['usage','visits'],index='salesforce_id',columns='month').reset_index()