In [1]:
import pandas as pd 
import numpy as np
%matplotlib inline
#https://stackoverflow.com/questions/22798934/pandas-long-to-wide-reshape

In [2]:
#on fwf# 
user_topic_grouped=pd.read_csv('/tmartin/taylor-oreilly/tmp/usage-agg-grouped.csv')
#on elias# user_topic_grouped=pd.read_csv('/tmartin/data/tmp/usage-agg-grouped.csv')

In [3]:
basic=user_topic_grouped.head(20)

In [4]:
basic.head()

        salesforce_id  month       usage  visits
0  001o000000tOEUtAAO      4  413.390443      24
1  0011N00001BKtvHQAT     12  149.450254       8
2  003o0000019wJNjAAM     12  255.727520       4
3  0011N000019tmOsQAI     10   96.865496       1
4  0011N000018sodqQAA      8   11.786058       1

In [5]:
usage=basic.drop('visits', axis=1)
usage.shape

(20, 3)

In [6]:
visits=basic.drop('usage', axis=1)
visits.shape

(20, 3)

In [7]:
pivot_usage = usage.pivot_table(index='salesforce_id', columns='month', values='usage')\
                   .reset_index()

#YES#pivot_usage=pd.pivot_table(usage, values=['usage'],index='salesforce_id',columns='month').reset_index()

#NO# pivot_usage.pivot(index='salesforce_id',columns='month')[['usage']]

In [8]:
pivot_usage[pivot_usage.salesforce_id=='0011N000018sodqQAA']

month       salesforce_id   1   2   3   4   7          8   9  10  11  12
1      0011N000018sodqQAA NaN NaN NaN NaN NaN  11.786058 NaN NaN NaN NaN

In [9]:
#pivot_usage['salesforce_id']
#gives series with each value of sfid
#NO# pivot_usage['month']
#was trying to get series with each value of column '1', (&/or column month or month == '1'), but get 'KeyError: '1' or same error for 'month'

In [10]:
pivot_usage = pivot_usage.rename(columns={1: 'usage_0117', 2: "usage_0217",
                                        3: "usage_0317", 4: "usage_0417",
                                        5: 'usage_0517', 6: "usage_0617",
                                        7: 'usage_0717', 8: "usage_0817",
                                        9: 'usage_0917', 10: "usage_1017",
                                        11: 'usage_1117', 12: "usage_1217"})

In [11]:
pivot_usage.head()

month,salesforce_id,usage_0117,usage_0217,usage_0317,usage_0417,usage_0717,usage_0817,usage_0917,usage_1017,usage_1117,usage_1217
0,0011N000018sTJbQAM,NaN,NaN,NaN,NaN,31.030435,NaN,NaN,NaN,NaN,NaN
1,0011N000018sodqQAA,NaN,NaN,NaN,NaN,NaN,11.786058,NaN,NaN,NaN,NaN
2,0011N000018uYxdQAE,NaN,NaN,NaN,NaN,NaN,25.413189,NaN,NaN,NaN,NaN
3,0011N000019dMKBQA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.735256,NaN,NaN
4,0011N000019tmOsQAI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.865496,NaN,NaN

In [12]:
pivot_usage = pivot_usage.fillna(0)

In [16]:
#pivot_usage.reset_index()
pivot_usage.head()

month,salesforce_id,usage_0117,usage_0217,usage_0317,usage_0417,usage_0717,usage_0817,usage_0917,usage_1017,usage_1117,usage_1217
0,0011N000018sTJbQAM,0.0,0.0,0.0,0.0,31.030435,0.000000,0.0,0.000000,0.0,0.0
1,0011N000018sodqQAA,0.0,0.0,0.0,0.0,0.000000,11.786058,0.0,0.000000,0.0,0.0
2,0011N000018uYxdQAE,0.0,0.0,0.0,0.0,0.000000,25.413189,0.0,0.000000,0.0,0.0
3,0011N000019dMKBQA2,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,12.735256,0.0,0.0
4,0011N000019tmOsQAI,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,96.865496,0.0,0.0

### Visits

In [14]:
pivot_visits = visits.pivot_table(index='salesforce_id', columns='month', values='visits')\
                   .reset_index()

In [15]:
#pivot=pd.pivot_table(user_topic_grouped, values=['usage','visits'],index='salesforce_id',columns='month').reset_index()