In [8]:
import pandas as pd 
import numpy as np
%matplotlib inline
#https://stackoverflow.com/questions/22798934/pandas-long-to-wide-reshape

In [9]:
user_topic_grouped=pd.read_csv('/tmartin/data/tmp/usage-agg-grouped.csv')

In [10]:
basic=user_topic_grouped.head(20)

In [11]:
basic.head()

        salesforce_id  month       usage  visits
0  001o000000tOEUtAAO      4  413.390443      24
1  0011N00001BKtvHQAT     12  149.450254       8
2  003o0000019wJNjAAM     12  255.727520       4
3  0011N000019tmOsQAI     10   96.865496       1
4  0011N000018sodqQAA      8   11.786058       1

In [12]:
usage=basic.drop('visits', axis=1)
usage.shape

(20, 3)

In [13]:
visits=basic.drop('usage', axis=1)
visits.shape

(20, 3)

In [25]:
#pivot_usage=pd.pivot_table(usage, values=['usage'],index='salesforce_id',columns='month').reset_index()
pivot_usage=pd.pivot_table(usage, values=['usage'],index='salesforce_id',columns='month').reset_index()

#NO pivot_usage.pivot(index='salesforce_id',columns='month')[['usage']]

In [26]:
pivot_usage.head(3)

            salesforce_id usage                                                \
month                         1   2   3   4          7          8   9  10  11
0      0011N000018sTJbQAM   NaN NaN NaN NaN  31.030435        NaN NaN NaN NaN
1      0011N000018sodqQAA   NaN NaN NaN NaN        NaN  11.786058 NaN NaN NaN
2      0011N000018uYxdQAE   NaN NaN NaN NaN        NaN  25.413189 NaN NaN NaN


month  12
0     NaN
1     NaN
2     NaN

In [27]:
#df['prod_idx'] = 'product_' + df.idx.astype(str)
#pivot_usage['usage_month'] = 'usage_' + pivot_usage.month.astype(str)

In [31]:
pivot_usage[['usage','salesforce_id']]

            usage                                                            \
month           1          2           3           4           7          8
0             NaN        NaN         NaN         NaN   31.030435        NaN
1             NaN        NaN         NaN         NaN         NaN  11.786058
2             NaN        NaN         NaN         NaN         NaN  25.413189
3             NaN        NaN         NaN         NaN         NaN        NaN
4             NaN        NaN         NaN         NaN         NaN        NaN
5             NaN        NaN         NaN         NaN         NaN        NaN
6             NaN  13.911628         NaN         NaN         NaN        NaN
7             NaN        NaN         NaN  413.390443         NaN        NaN
8             NaN   0.257828         NaN         NaN         NaN        NaN
9             NaN        NaN  936.858476         NaN         NaN        NaN
10            NaN        NaN   24.696281         NaN         NaN        NaN
11            NaN        NaN         NaN         NaN  316.090461        NaN
12            NaN        NaN         NaN         NaN         NaN        NaN
13            NaN        NaN         NaN         NaN         NaN        NaN
14            NaN        NaN         NaN         NaN         NaN        NaN
15            NaN        NaN         NaN         NaN         NaN        NaN
16     524.422292        NaN         NaN         NaN         NaN        NaN
17            NaN        NaN         NaN         NaN         NaN        NaN
18            NaN        NaN         NaN         NaN         NaN        NaN
19            NaN        NaN         NaN         NaN         NaN        NaN

                                                          salesforce_id
month          9         10          11          12
0            NaN        NaN         NaN         NaN  0011N000018sTJbQAM
1            NaN        NaN         NaN         NaN  0011N000018sodqQAA
2            NaN        NaN         NaN         NaN  0011N000018uYxdQAE
3            NaN  12.735256         NaN         NaN  0011N000019dMKBQA2
4            NaN  96.865496         NaN         NaN  0011N000019tmOsQAI
5            NaN        NaN         NaN  149.450254  0011N00001BKtvHQAT
6            NaN        NaN         NaN         NaN  001o000000Q7VOXAA3
7            NaN        NaN         NaN         NaN  001o000000tOEUtAAO
8            NaN        NaN         NaN         NaN  001o000000yuWUkAAM
9            NaN        NaN         NaN         NaN  001o0000013uAw3AAE
10           NaN        NaN         NaN         NaN  001o0000014odEGAAY
11           NaN        NaN         NaN         NaN  001o0000015HoVdAAK
12           NaN        NaN   16.373292         NaN  0031N00001G977CQAR
13           NaN        NaN   84.074001         NaN  0031N00001GAci1QAD
14     26.775207        NaN         NaN         NaN  0031N00001GFBpCQAX
15           NaN        NaN  104.204176         NaN  003o000000ja6wYAAQ
16           NaN        NaN         NaN         NaN  003o000000mffsJAAQ
17           NaN        NaN  852.211911         NaN  003o0000014LHK8AAO
18      4.979202        NaN         NaN         NaN  003o0000015CND1AAO
19           NaN        NaN         NaN  255.727520  003o0000019wJNjAAM

In [14]:
#pivot=pd.pivot_table(user_topic_grouped, values=['usage','visits'],index='salesforce_id',columns='month').reset_index()