In [1]:
import pandas as pd 
import numpy as np
%matplotlib inline

In [2]:
#on fwf# 
user_topic_grouped=pd.read_csv('/tmartin/taylor-oreilly/tmp/usage-agg-grouped.csv')
#on elias# user_topic_grouped=pd.read_csv('/tmartin/data/tmp/usage-agg-grouped.csv')

In [3]:
basic=user_topic_grouped.head(20)

In [4]:
basic.salesforce_id=='0011N000018sodqQAA' 
#sets up a T/F condition to meet for selection

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: salesforce_id, dtype: bool

In [5]:
basic[basic.salesforce_id=='0011N000018sodqQAA']
#selects all rows with that sfid

        salesforce_id  month      usage  visits
4  0011N000018sodqQAA      8  11.786058       1

In [6]:
basic['salesforce_id']
#series with each value of sfid

0     001o000000tOEUtAAO
1     0011N00001BKtvHQAT
2     003o0000019wJNjAAM
3     0011N000019tmOsQAI
4     0011N000018sodqQAA
5     001o0000015HoVdAAK
6     001o0000014odEGAAY
7     003o000000ja6wYAAQ
8     0031N00001G977CQAR
9     0011N000019dMKBQA2
10    003o0000014LHK8AAO
11    001o000000yuWUkAAM
12    0031N00001GFBpCQAX
13    001o000000Q7VOXAA3
14    0011N000018uYxdQAE
15    003o0000015CND1AAO
16    0011N000018sTJbQAM
17    001o0000013uAw3AAE
18    0031N00001GAci1QAD
19    003o000000mffsJAAQ
Name: salesforce_id, dtype: object

In [9]:
basic=pd.DataFrame(basic['salesforce_id'])
#df with each value of sfid
basic.head()

        salesforce_id
0  001o000000tOEUtAAO
1  0011N00001BKtvHQAT
2  003o0000019wJNjAAM
3  0011N000019tmOsQAI
4  0011N000018sodqQAA